<launch>

  <include file="$(find p3dx_description)/launch/everything.launch" >
  </include>

  <param name="joy_node/dev" type="str" value="/dev/input/js0"/>
  
  <node pkg="joy" type="joy_node" name="joy">
    <param name="deadzone" value="0.03" />
    <param name="autorepeat_rate" value="10" />
  </node>
  <node name="teleop_twist_joy" type="teleop_node" pkg="teleop_twist_joy" output="screen" />
  
  <node name="controller_listener" type="controller_listener"  pkg="presentation" output="screen" />
  
</launch>
